.dub
docs.json
__dummy.html
docs/
/spatialpartitioningdatastructures
spatialpartitioningdatastructures.so
spatialpartitioningdatastructures.dylib
spatialpartitioningdatastructures.dll
spatialpartitioningdatastructures.a
spatialpartitioningdatastructures.lib
spatialpartitioningdatastructures-test-*
*.exe
*.o
*.obj
*.lst
/spatialdatastructuresind-test-library
/spatialdatastructuresind
*.vscode
*.DS_Store
*.idea
